body {
  background-color: #383838;
  color: #fff;
}

.board {
  .board-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .board-cell {
      height: 3rem;
      width: 3rem;
      border: 2px solid #fff;
      margin: 0.1rem;
      text-align: center;
      vertical-align: middle;
      font-weight: 600;
      font-size: 1.5rem;
    }

    .X {
      color: red;
    }

    .O {
      color: blue;
    }
  }
}